*{
    margin: 0;
    padding:0; 
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body{
    height: 100%;
}

.home{
    height: 100vh;
}

.btn {
    background: rgb(12, 214, 147);
  }

/* Transition pages */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}